In [6]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
class_mapping = str({'Cloud': 0, 'Dust': 1, 'Haze': 2, 'Land': 3, 'Seaside': 4, 'Smoke': 5})

df = pd.read_parquet('image_df.parquet')
display(df.head())
print(f'--- CLASS MAPPING --- \n{class_mapping}')

,class,red_channel,green_channel,blue_channel
0,3,"[108, 107, 114, 126, 115, 110, 117, 125, 127, ...","[92, 90, 97, 109, 99, 97, 102, 109, 111, 98, 9...","[72, 72, 76, 85, 77, 75, 80, 86, 88, 79, 80, 8..."
1,3,"[44, 50, 50, 53, 43, 37, 39, 40, 43, 49, 53, 5...","[52, 59, 61, 66, 55, 48, 47, 41, 43, 49, 57, 5...","[44, 50, 48, 51, 43, 40, 43, 48, 54, 61, 60, 4..."
2,3,"[40, 41, 40, 46, 51, 48, 47, 48, 39, 30, 38, 4...","[32, 33, 34, 40, 44, 42, 42, 42, 33, 25, 32, 3...","[20, 21, 23, 28, 32, 31, 30, 30, 23, 15, 19, 2..."
3,3,"[139, 144, 154, 154, 155, 154, 151, 146, 145, ...","[105, 107, 115, 116, 117, 117, 115, 113, 113, ...","[86, 86, 92, 93, 94, 94, 94, 93, 92, 89, 87, 8..."
4,3,"[40, 32, 57, 52, 37, 38, 43, 33, 19, 24, 20, 1...","[39, 33, 56, 53, 37, 38, 42, 33, 19, 21, 18, 1...","[37, 30, 52, 50, 35, 36, 40, 31, 17, 19, 15, 9..."

--- CLASS MAPPING ---
{'Cloud': 0, 'Dust': 1, 'Haze': 2, 'Land': 3, 'Seaside': 4, 'Smoke': 5}